body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* animation to zoom in */
.meal img:hover {
    transform: scale(1.1);
}

/* Section Style*/
section{
    margin: 2rem;
}

.carousel{
    max-height: 30vh;
    overflow: hidden;
}

.carousel img{
    /* height: 30vh; */
    width: 100%;
    object-fit: contain;

}
/* //Section Style*/

/* div for MENU */
.menuText{
    display: flex;
    background: linear-gradient(180.06deg, #DB4343 0.16%, rgba(219, 67, 67, 0.71251) 53.41%, rgba(219, 67, 67, 0.623194) 72.91%, rgba(219, 67, 67, 0) 111.91%);
    padding: 10px;
}

.bg{
    background: url("./images/meal1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.orderplates{
    width: 50%;
}

.meal{
    width: 15rem;
    background: linear-gradient(180deg, rgba(252, 252, 252, 0.1) 50%, rgba(248, 234, 234, 0.36)  50%);
    height: 8rem;
    padding: 10px;
}

.meal h3{
    color: white;
    font-family: Black Han Sans;
    font-style: normal;
    font-weight: normal;
}

.meal h4{
    color: #fbd510;
    font-family: Black Han Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    background-color: #DB0D0D;
    border-radius: 20px;
    width: 8rem;
    text-align: center;
}

.meal img{
    right: 0;
}

.menuRight{
    font-family: Black Han Sans;
    color: yellow;
}

.menuRight h1{
    font-size: 5rem;
    margin-top: 50px;
    margin-left: 200px;
}

.menuRight h2{
    background-color: #FD1F1F;
    border-radius: 20rem;
    padding: .5rem 1rem;
    text-align: center;
    margin-left: 200px;
}
/* /div for MENU */


.meal img{
    width: 100px;
    margin-left: 130px;
    margin-top: -30px;
}

.meal .spagchicken{
    width: 160px;
    margin-top: -40px;
    margin-left: 100px;
}